# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore .env files
**/.env

# Ignore logs
**/*.log

# Ignore build directories (if applicable)
**/build/
**/dist/

# Ignore .DS_Store files (for macOS users)
**/.DS_Store

# Ignore npm debug logs
**/npm-debug.log*

# Ignore yarn debug logs
**/yarn-debug.log*
**/yarn-error.log*

# Ignore coverage directories
**/coverage/

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo